
@{
	ViewData["Title"] = "Shop";
}
<!-- Начало блока hero-inner -->
<section class="hero-inner text-center">
	<div class="w-layout-blockcontainer container w-container">
		<div class="category-hero-wrap">
			<h1 class="hero-inner-title">Shop</h1>
			<div class="category-hero-list-wrap">
				<a href="/shop" aria-current="page" class="category-link w--current">All</a>
				<div class="w-dyn-list">
					<div role="list" class="category-wrap w-dyn-items">
						<div role="listitem" class="w-dyn-item"><a href="/category/carpenter-tool" class="category-link">Carpenter tool</a></div>
						<div role="listitem" class="w-dyn-item"><a href="/category/painting-tool" class="category-link">Painting tool</a></div>
						<div role="listitem" class="w-dyn-item"><a href="/category/power-tool" class="category-link">Power tool</a></div>
						<div role="listitem" class="w-dyn-item"><a href="/category/hand-tool" class="category-link">Hand tool</a></div>
						<div role="listitem" class="w-dyn-item"><a href="/category/plumbing-tool" class="category-link">Plumbing tool</a></div>
						<div role="listitem" class="w-dyn-item"><a href="/category/flathead-tool" class="category-link">Flathead tool</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero-inner-overly"></div>
	</div>
</section>
<!-- Конец блока hero-inner -->
<!-- Начало блока category-simple-section -->
<section class="category-simple-section">
	<div class="w-layout-blockcontainer container w-container">
		<div id="w-node-f59d52bf-6707-8963-6b34-7e24e8407817-352d8d5d" class="product-simple-wrap">
			<div class="w-dyn-list">
				<div role="list" class="grid-product-split w-dyn-items">
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/new-tools-wood-cutter" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-15.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-15-p-500.jpg 500w, images/product-image-15.jpg 800w"
									 class="product-image" />
								<div style="background-image:none" class="product-budge w-dyn-bind-empty"></div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">New tools wood cutter</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 345.50 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 499.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/gearo-15-inch-plastic-tool-bag" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-14.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-14-p-500.jpg 500w, images/product-image-14.jpg 800w"
									 class="product-image" />
								<div style='background-image:url("images/trendy-badge.svg")' class="product-budge">30% off</div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Gearo 15-inch plastic tool bag</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 1,865.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 2,220.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/electric-rotary-drill-machine" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-13.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-13-p-500.jpg 500w, images/product-image-13.jpg 800w"
									 class="product-image" />
								<div style="background-image:none" class="product-budge w-dyn-bind-empty"></div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Electric rotary drill machine</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 750.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 900.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/ingco-power-tools" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-01.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-01-p-500.jpg 500w, images/product-image-01.jpg 800w"
									 class="product-image" />
								<div style="background-image:none" class="product-budge w-dyn-bind-empty"></div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Ingco power tools</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 1,245.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 1,420.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/7-in-1-magnetized-wrench" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-02.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-02-p-500.jpg 500w, images/product-image-02.jpg 800w"
									 class="product-image" />
								<div style="background-image:none" class="product-budge w-dyn-bind-empty"></div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">7-in-1 magnetized wrench</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 248.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price w-dyn-bind-empty"></div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/industrial-pneumatic-nailer-with-duo-glide-roller" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-03.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-03-p-500.jpg 500w, images/product-image-03.jpg 800w"
									 class="product-image" />
								<div style='background-image:url("images/trendy-badge.svg")' class="product-budge">30% off</div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Industrial pneumatic nailer with duo glide roller</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 1,865.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 2,300.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/adjustable-wrenches" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-04.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-04-p-500.jpg 500w, images/product-image-04.jpg 800w"
									 class="product-image" />
								<div style="background-image:none" class="product-budge w-dyn-bind-empty"></div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Adjustable wrenches</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 750.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price w-dyn-bind-empty"></div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="04e1353a-1709-d5fd-b655-09a804111d26" href="/product/truflex-steel-tape-3" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="images/product-image-05.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 30vw, 21vw"
									 srcset="images/product-image-05-p-500.jpg 500w, images/product-image-05.jpg 800w"
									 class="product-image" />
								<div style="background-image:none" class="product-budge w-dyn-bind-empty"></div>
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Truflex steel tape</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 102.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price w-dyn-bind-empty"></div>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div role="navigation" aria-label="List" class="w-pagination-wrapper pagination">
					<div class="pagination-item"></div>
					<div id="w-node-_04e1353a-1709-d5fd-b655-09a804111d3d-352d8d5d" class="pagination-item"><div aria-label="Page 1 of 2" role="heading" class="w-page-count">1 / 2</div></div>
					<div class="pagination-item">
						<a href="?04111d23_page=2" aria-label="Next Page" class="w-pagination-next button-dark">
							<div class="w-inline-block">Next</div>
							<svg class="w-pagination-next-icon" height="12px" width="12px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" transform="translate(0, 1)">
								<path fill="none" stroke="currentColor" fill-rule="evenodd" d="M4 2l4 4-4 4"></path>
							</svg>
						</a>
						<link rel="prerender" href="?04111d23_page=2" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Конец блока category-simple-section -->