@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
	ViewData["Title"] = "Contact";
*@
@{
	ViewData["Title"] = "Contact";
}
<!-- START OF CONTACT HERO SECTION -->
<section class="contact-hero-section">
	<div class="w-layout-blockcontainer container w-container">
		<div class="contact-title-wrap text-center">
			<h1 class="contact-title">Contact us</h1>
			<p class="contact-description">Have questions or need assistance? Our team is here to help! Please feel free to reach out to us for expert guidance, support, or questions.</p>
		</div>
	</div>
</section>
<!-- END OF CONTACT HERO SECTION -->
<!-- START OF CONTACT FORM SECTION -->
<section class="contact-section section-spacing-bottom">
	<div class="w-layout-blockcontainer container-small w-container">
		<div id="w-node-b71607e3-87a8-286c-14db-670e3447869e-3a4aea85" class="contact-form">
			<div class="w-form">
				<form id="wf-form-Contact-Form" name="wf-form-Contact-Form-2" data-name="Contact Form" method="get" data-wf-page-id="65c0d3b12ae041403a4aea85" data-wf-element-id="b71607e3-87a8-286c-14db-670e344786a2">
					<div class="input-group"><label for="name">Name</label><input class="form-input w-input" maxlength="256" name="name" data-name="Name" placeholder="Your name" type="text" id="name" /></div>
					<div class="input-group"><label for="Email">Email</label><input class="form-input w-input" maxlength="256" name="Email" data-name="Email" placeholder="Your email" type="email" id="Email" required="" /></div>
					<div class="input-group"><label for="Phone-No">Phone</label><input class="form-input w-input" maxlength="256" name="Phone-No" data-name="Phone No" placeholder="Your phone no" type="tel" id="Phone-No" /></div>
					<div class="input-group">
						<label for="Message">Message</label><textarea id="Message" name="Message" maxlength="5000" data-name="Message" placeholder="Tell us more about" class="form-input form-textarea w-input"></textarea>
					</div>
					<input type="submit" data-wait="Please wait..." class="button-dark contact-button w-button" value="Submit" />
				</form>
				<div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
				<div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
			</div>
		</div>
	</div>
</section>
<!-- END OF CONTACT FORM SECTION -->