@model Just_project.Models.ContactModel

@{
    ViewData["Title"] = "Contact";
}
<!-- CONTACT HERO SECTION -->
<section class="contact-hero-section">
    <div class="container w-container">
        <div class="contact-title-wrap text-center">
            <h1 class="contact-title">Contact us</h1>
            <p class="contact-description">Have questions or need assistance? Our team is here to help! Please feel free to reach out to us for expert guidance, support, or questions.</p>
        </div>
    </div>
</section>

<!-- CONTACT FORM SECTION -->
<section class="contact-section section-spacing-bottom">
    <div class="w-layout-blockcontainer container-small w-container">
        <div id="w-node-b71607e3-87a8-286c-14db-670e3447869e-3a4aea85" class="contact-form">
            <div class="w-form">
                @if (Model.IsSuccess)
                {
                    <div class="alert alert-success">
                        Thank you! Your submission has been received!
                    </div>
                }
                <form asp-action="Index" method="post">
                    <div class="input-group">
                        <label asp-for="Name"></label>
                        <input class="form-input w-input" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="Email"></label>
                        <input class="form-input w-input" asp-for="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="Phone"></label>
                        <input class="form-input w-input" asp-for="Phone" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="input-group">
                        <label asp-for="Message"></label>
                        <textarea class="form-input form-textarea w-input" asp-for="Message"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <input type="submit" class="button-dark contact-button w-button" value="Submit" />
                </form>
                <div class="success-message w-form-done"><div>Thank you! Your submission has been received!</div></div>
                <div class="error-message w-form-fail"><div>Oops! Something went wrong while submitting the form.</div></div>
            </div>
        </div>
    </div>
</section>
<!-- END OF CONTACT FORM SECTION -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


