@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Carpenter";
}
@Html.Partial("InnerCategory")
<!-- START OF CATEGORY SIMPLE SECTION -->
<section class="category-simple-section">
	<div class="w-layout-blockcontainer container w-container">
		<div id="w-node-a16c9442-6d4b-2198-250f-3ba8a8cec755-866fc643" class="product-simple-wrap">
			<div class="w-dyn-list">
				<div role="list" class="grid-product-three w-dyn-items">
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/gearo-15-inch-plastic-tool-bag" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="../images/product-image-14.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
									 srcset="../images/product-image-14-p-500.jpg 500w, ../images/product-image-14.jpg 800w"
									 class="product-image" />
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Gearo 15-inch plastic tool bag</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 1,865.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 2,220.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/electric-rotary-drill-machine" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="../images/product-image-13.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
									 srcset="../images/product-image-13-p-500.jpg 500w, ../images/product-image-13.jpg 800w"
									 class="product-image" />
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Electric rotary drill machine</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 750.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 900.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/truflex-steel-tape-3" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="../images/product-image-05.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
									 srcset="../images/product-image-05-p-500.jpg 500w, ../images/product-image-05.jpg 800w"
									 class="product-image" />
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Truflex steel tape</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 102.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price w-dyn-bind-empty"></div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF CATEGORY SIMPLE SECTION -->