@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.Partial("InnerCategory")
<!-- START OF CATEGORY SIMPLE SECTION -->
<section class="category-simple-section">
	<div class="w-layout-blockcontainer container w-container">
		<div id="w-node-a16c9442-6d4b-2198-250f-3ba8a8cec755-866fc643" class="product-simple-wrap">
			<div class="w-dyn-list">
				<div role="list" class="grid-product-three w-dyn-items">
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/max-flex-angle-grinder" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="../images/product-image-06.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
									 srcset="../images/product-image-06-p-500.jpg 500w, ../images/product-image-06.jpg 800w"
									 class="product-image" />
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Max flex angle grinder</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 1,500.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 1,950.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/yato-electrician-motor-cutter" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="../images/product-image-08.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
									 srcset="../images/product-image-08-p-500.jpg 500w, ../images/product-image-08.jpg 800w"
									 class="product-image" />
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">YATO electrician motor cutter</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 1,209.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 1,500.00 USD</div>
								</div>
							</div>
						</a>
					</div>
					<div role="listitem" class="w-dyn-item">
						<a data-w-id="a16c9442-6d4b-2198-250f-3ba8a8cec759" href="/product/ingco-power-tools-and-hand-tools-cordless" class="product-item w-inline-block">
							<div class="product-image-wrap">
								<img alt="image"
									 loading="lazy"
									 data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D"
									 src="../images/product-image-09.jpg"
									 sizes="(max-width: 479px) 94vw, (max-width: 991px) 46vw, (max-width: 1279px) 25vw, (max-width: 1439px) 22vw, 21vw"
									 srcset="../images/product-image-09-p-500.jpg 500w, ../images/product-image-09.jpg 800w"
									 class="product-image" />
								<div style="opacity:0" class="product-button-item-wrap"><div class="button-dark">Shop now</div></div>
								<div style="opacity:0" class="product-hover-overlay"></div>
							</div>
							<div class="product-info-wrap">
								<h2 class="product-title">Ingco power tools and hand tools cordless</h2>
								<div class="product-price-wrap">
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-price">$ 1,245.00 USD</div>
									<div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="compare-price">$ 1,420.00 USD</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF CATEGORY SIMPLE SECTION -->