@{
	ViewData["Title"] = "About Us";
}
<!-- START OF ABOUT HERO SECTION -->
<section class="about-hero-section">
	<div class="w-layout-blockcontainer container w-container">
		<h1 class="about-hero-title text-center">Join us in <span class="primary-span">living</span> life on the bright side</h1>
		<div class="w-layout-grid grid-about-hero">
			<div class="about-hero-image-wrap">
				<img src="~/images/Windows.jpeg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, (max-width: 1063px) 94vw, 1000px" alt="image" srcset="images/about-hero-image-01-p-500.jpg 500w, images/about-hero-image-01-p-800.jpg 800w, images/about-hero-image-01-1.jpg 1000w" class="about-hero-image" />
			</div>
			<div class="about-hero-image-wrap">
				<img src="images/about-hero-image-02.jpg" loading="lazy" sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, (max-width: 1063px) 94vw, 1000px" alt="image" srcset="images/about-hero-image-02-p-500.jpg 500w, images/about-hero-image-02-p-800.jpg 800w, images/about-hero-image-02-1.jpg 1000w" class="about-hero-image" />
			</div>
		</div>
	</div>
</section>
<!-- END OF ABOUT HERO SECTION -->
<!-- START OF COUNTER SECTION -->
<section class="counter-section">
	<div class="w-layout-blockcontainer container-medium w-container">
		<div class="w-layout-grid grid-counter">
			<div class="counter-wrap">
				<h2 class="counter-number">30</h2>
				<div>Total tools</div>
			</div>
			<div class="counter-wrap">
				<h2 class="counter-number">350<span class="primary-span">+</span></h2>
				<div>Happy customers</div>
			</div>
			<div class="counter-wrap">
				<h2 class="counter-number">5K<span class="primary-span">+</span></h2>
				<div>Total reviews</div>
			</div>
			<div class="counter-wrap">
				<h2 class="counter-number">10<span class="primary-span">+</span></h2>
				<div>Years of experience</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF COUNTER SECTION -->
<!-- START OF MARQUEE SECTION -->
<div class="marquee-simple-item">
	<div class="marquee-list">
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
		<div class="marquee-text">Free shipping on orders over $150</div>
		<div class="marquee-dot"></div>
	</div>
</div>
<!-- END OF MARQUEE SECTION -->
<!-- START OF ABOUT TABS SECTION -->
<section class="about-tab-simple-section">
	<div class="w-layout-blockcontainer container w-container">
		<h3 class="about-two-title"><span class="about-split-span"></span>At <span class="primary-span">Gearo</span>, we stand out as your ultimate destination for tools and accessories, offering a seamless and enriching experience for artisans and creators. We are your dedicated partner in the journey of creation.</h3>
		<div class="about-tabs w-tabs">
			<div class="about-tabs-menu w-tab-menu">
				<a data-w-tab="Tab 1" class="about-tab-dark-link w-inline-block w-tab-link"><div class="about-tab-title">Mission</div></a>
				<a data-w-tab="Tab 2" class="about-tab-dark-link w-inline-block w-tab-link w--current"><div class="about-tab-title">Commitments</div></a>
				<a data-w-tab="Tab 3" class="about-tab-dark-link w-inline-block w-tab-link"><div class="about-tab-title">Value</div></a>
			</div>
			<div class="w-tab-content">
				<div data-w-tab="Tab 1" class="w-tab-pane">
					<div class="about-tab-info">
						<div class="about-tab-detail">
							<p class="no-margin">In a mission, meticulous planning and strategic execution come together to accomplish predefined objectives. This involves the selection, & deployment of specialized.</p>
						</div>
						<div class="about-tab-image-wrap"><img src="images/about-image-02.jpg" loading="lazy" alt="image" class="about-tab-image" /></div>
					</div>
				</div>
				<div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
					<div class="about-tab-info">
						<div class="about-tab-detail">
							<p class="no-margin">Our commitments are the foundation of our relationship with you, ensuring that you receive not only quality products but also unparalleled service and support.</p>
						</div>
						<div class="about-tab-image-wrap"><img src="images/about-image-04.jpg" loading="lazy" alt="image" class="about-tab-image" /></div>
					</div>
				</div>
				<div data-w-tab="Tab 3" class="w-tab-pane">
					<div class="about-tab-info">
						<div class="about-tab-detail">
							<p class="no-margin">Our value often reflects the overall effectiveness of equipment in achieving desired outcomes. This includes factors such as reliability, durability, & versatility.</p>
						</div>
						<div class="about-tab-image-wrap"><img src="images/about-image-03.jpg" loading="lazy" alt="image" class="about-tab-image" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF ABOUT TABS SECTION -->
<!-- START OF FEATURE TWO SECTION -->
<section class="feature-two-section section-spacing">
	<div class="w-layout-blockcontainer container w-container">
		<div class="w-layout-grid grid-feature">
			<div class="feature-item-wrap">
				<img src="images/feature-icon-01.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Free shipping</h3>
				<p class="no-margin">Enjoy the convenience of free shipment on all your orders.</p>
			</div>
			<div class="feature-item-wrap">
				<img src="images/feature-icon-02.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Easy refund</h3>
				<p class="no-margin">Shop with confidence that our easy refund policy has got you covered.</p>
			</div>
			<div class="feature-item-wrap">
				<img src="images/feature-icon-03.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Online support</h3>
				<p class="no-margin">Our dedicated online support team is just a click away.</p>
			</div>
			<div class="feature-item-wrap">
				<img src="images/feature-icon-04.svg" loading="lazy" alt="image" class="feature-icon" />
				<h3 class="feature-title">Flexible payment</h3>
				<p class="no-margin">We understand that flexibility is key when it comes to payments.</p>
			</div>
		</div>
	</div>
</section>
<!-- END OF FEATURE TWO SECTION -->