@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
	ViewData["Title"] = "About Us";
*@
@{
	ViewData["Title"] = "About Us";
}
<!-- START OF ABOUT HERO SECTION -->
		<section class="about-hero-section">
			<div class="w-layout-blockcontainer container w-container">
				<h1 class="about-hero-title text-center">Join us in <span class="primary-span">living</span> life on the bright side</h1>
				<div class="w-layout-grid grid-about-hero">
					<div id="w-node-a3048440-6cb9-0715-de4b-eaaeaf88157d-39859235" class="about-hero-image-wrap">
						<img src="~/images/about-hero-image-01.jpg"
							loading="lazy"
							id="w-node-_337992ff-995f-609f-2157-b86021275e74-39859235"
							sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, (max-width: 1063px) 94vw, 1000px"
							alt="image"
							srcset="images/about-hero-image-01-p-500.jpg 500w, images/about-hero-image-01-p-800.jpg 800w, images/about-hero-image-01-1.jpg 1000w"
							class="about-hero-image"
						/>
					</div>
					<div id="w-node-eefc06f3-d3ab-8d75-0ea3-062d92597036-39859235" class="about-hero-image-wrap">
						<img
							src="images/about-hero-image-02.jpg"
							loading="lazy"
							id="w-node-eefc06f3-d3ab-8d75-0ea3-062d92597037-39859235"
							sizes="(max-width: 479px) 94vw, (max-width: 991px) 96vw, (max-width: 1063px) 94vw, 1000px"
							alt="image"
							srcset="images/about-hero-image-02-p-500.jpg 500w, images/about-hero-image-02-p-800.jpg 800w, images/about-hero-image-02-1.jpg 1000w"
							class="about-hero-image"
						/>
					</div>
				</div>
			</div>
		</section>
		<!-- END OF ABOUT HERO SECTION -->

		<!-- START OF COUNTER SECTION -->
		<section class="counter-section">
			<div class="w-layout-blockcontainer container-medium w-container">
				<div class="w-layout-grid grid-counter">
					<div id="w-node-_866b25bd-4b7a-4b6d-57b9-05b6c6a5305a-39859235" class="counter-wrap">
						<h2 class="counter-number">30</h2>
						<div>Total tools</div>
					</div>
					<div id="w-node-_5b11ecfb-197e-dd56-23a8-68dba6cc1739-39859235" class="counter-wrap">
						<h2 class="counter-number">350<span class="primary-span">+</span></h2>
						<div>Happy customers</div>
					</div>
					<div id="w-node-_678d7fb2-cb6d-4ae8-fb31-c0c0ae1f4ec4-39859235" class="counter-wrap">
						<h2 class="counter-number">5K<span class="primary-span">+</span></h2>
						<div>Total reviews</div>
					</div>
					<div id="w-node-_9de0d280-57c6-1811-333d-6be2d8952f41-39859235" class="counter-wrap">
						<h2 class="counter-number">10<span class="primary-span">+</span></h2>
						<div>Years of experience</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END OF COUNTER SECTION -->

		<!-- START OF MARQUEE SECTION -->
		<div class="marquee-simple-item">
			<div class="marquee-list">
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
				<div class="marquee-text">Free shipping on orders over $150</div>
				<div class="marquee-dot"></div>
			</div>
		</div>
		<!-- END OF MARQUEE SECTION -->

		<!-- START OF ABOUT TABS SECTION -->
		<section class="about-tab-simple-section">
			<div class="w-layout-blockcontainer container w-container">
				<h3 class="about-two-title">
					<span class="about-split-span"> </span>At <span class="primary-span">Gearo</span>, we stand out as your ultimate destination for tools and accessories, offering a seamless and enriching experience for artisans and
					creators. we are your dedicated partner in the journey of creation.
				</h3>
				<div data-current="Tab 2" data-easing="ease" data-duration-in="300" data-duration-out="100" class="about-tabs w-tabs">
					<div class="about-tabs-menu w-tab-menu">
						<a data-w-tab="Tab 1" class="about-tab-dark-link w-inline-block w-tab-link"><div class="about-tab-title">Mission</div></a>
						<a data-w-tab="Tab 2" class="about-tab-dark-link w-inline-block w-tab-link w--current"><div class="about-tab-title">Commitments</div></a>
						<a data-w-tab="Tab 3" class="about-tab-dark-link w-inline-block w-tab-link"><div class="about-tab-title">Value</div></a>
					</div>
					<div class="w-tab-content">
						<div data-w-tab="Tab 1" class="w-tab-pane">
							<div class="about-tab-info">
								<div class="about-tab-detail">
									<p class="no-margin">In a mission, meticulous planning and strategic execution come together to accomplish predefined objectives. This involves the selection, & deployment of specialized.</p>
								</div>
								<div class="about-tab-image-wrap"><img src="images/about-image-02.jpg" loading="lazy" alt="image" class="about-tab-image" /></div>
							</div>
						</div>
						<div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
							<div class="about-tab-info">
								<div class="about-tab-detail">
									<p class="no-margin">Our commitments are the foundation of our relationship with you, ensuring that you receive not only quality products but also unparalleled service and support.</p>
								</div>
								<div class="about-tab-image-wrap"><img src="images/about-image-04.jpg" loading="lazy" alt="image" class="about-tab-image" /></div>
							</div>
						</div>
						<div data-w-tab="Tab 3" class="w-tab-pane">
							<div class="about-tab-info">
								<div class="about-tab-detail">
									<p class="no-margin">Our value often reflects the overall effectiveness of equipment in achieving desired outcomes. This includes factors such as reliability, durability, & versatility.</p>
								</div>
								<div class="about-tab-image-wrap"><img src="images/about-image-03.jpg" loading="lazy" alt="image" class="about-tab-image" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END OF ABOUT TABS SECTION -->

		<!-- START OF FEATURE TWO SECTION -->
		<section class="feature-two-section section-spacing">
			<div class="w-layout-blockcontainer container w-container">
				<div class="w-layout-grid grid-feature">
					<div id="w-node-_6ee8b917-d75f-9f1f-c6f2-f72fad8cd2f2-39859235" class="feature-item-wrap">
						<img src="images/feature-icon-01.svg" loading="lazy" alt="image" class="feature-icon" />
						<h3 class="feature-title">Free shipping</h3>
						<p class="no-margin">Enjoy the convenience of free shipment on all your orders.</p>
					</div>
					<div id="w-node-_6ee8b917-d75f-9f1f-c6f2-f72fad8cd2f8-39859235" class="feature-item-wrap">
						<img src="images/feature-icon-02.svg" loading="lazy" alt="image" class="feature-icon" />
						<h3 class="feature-title">Easy refund</h3>
						<p class="no-margin">Shop with confidence that our easy refund policy has got you covered.</p>
					</div>
					<div id="w-node-_6ee8b917-d75f-9f1f-c6f2-f72fad8cd2fe-39859235" class="feature-item-wrap">
						<img src="images/feature-icon-03.svg" loading="lazy" alt="image" class="feature-icon" />
						<h3 class="feature-title">Online support</h3>
						<p class="no-margin">Our dedicated online support team is just a click away.</p>
					</div>
					<div id="w-node-_6ee8b917-d75f-9f1f-c6f2-f72fad8cd304-39859235" class="feature-item-wrap">
						<img src="images/feature-icon-04.svg" loading="lazy" alt="image" class="feature-icon" />
						<h3 class="feature-title">Flexible payment</h3>
						<p class="no-margin">We understand that flexibility is key when it comes to payments.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- END OF FEATURE TWO SECTION -->