@{
	ViewData["Title"] = "FAQs";
}
<!-- HERO INNER SECTION -->
<section class="hero-inner text-center">
	<div class="container w-container">
		<div class="hero-inner-wrap">
			<h1 class="hero-inner-title">FAQs</h1>
		</div>
		<div class="hero-inner-overly"></div>
	</div>
</section>

<!-- FAQS SECTION -->
<section class="faqs-section section-spacing">
	<div class="container-medium w-container">
		<div class="faqs-wrap">
			<!-- PRODUCTS FAQS -->
			<div class="faqs-item">
				<h2 class="heading-h3">Products:</h2>
				<div class="accordion-item-wrap">
					<div class="accordion-item">
						<!-- FAQ ITEM 1 -->
						<div class="accordion-wrap">
							<div class="accordion-heading">
								<div class="accordion-number">Q.1</div>
								<div class="accordion-title-wrap">
									<h3 class="accordion-title">A package is lost, what should I do?</h3>
									<img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
								</div>
							</div>
							<div class="accordion-content">
								<p class="accordion-description">
									Start by checking the delivery status online or contacting the shipping company to confirm if the package has indeed been lost. Sometimes, there may be delays or miscommunications that result in the package being temporary.
								</p>
							</div>
						</div>
						<!-- FAQ ITEM 2 -->
						<div class="accordion-wrap">
							<div class="accordion-heading">
								<div class="accordion-number">Q.2</div>
								<div class="accordion-title-wrap">
									<h3 class="accordion-title">Can I cancel/change my order?</h3>
									<img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
								</div>
							</div>
							<div class="accordion-content">
								<p class="accordion-description">
									If you&#x27;ve placed an order and need to cancel or make changes to it, you should contact the company or store from which you made the purchase as soon as possible.
								</p>
							</div>
						</div>
						<!-- FAQ ITEM 3 -->
						<div class="accordion-wrap">
							<div class="accordion-heading">
								<div class="accordion-number">Q.3</div>
								<div class="accordion-title-wrap">
									<h3 class="accordion-title">What should I do if an order is damaged or missing an item?</h3>
									<img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
								</div>
							</div>
							<div class="accordion-content">
								<p class="accordion-description">
									If you receive an order that is damaged or missing an item, you should contact the company or store where you made the purchase as soon as possible to report the issue.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- SHIPPING AND RETURNS FAQS -->
			<div class="faqs-item">
				<h2 class="heading-h3">Shipping and returns:</h2>
				<div class="accordion-item-wrap">
					<div class="accordion-item">
						<!-- FAQ ITEM 1 -->
						<div class="accordion-wrap">
							<div class="accordion-heading">
								<div class="accordion-number">Q.1</div>
								<div class="accordion-title-wrap">
									<h3 class="accordion-title">Where does Minori ship to?</h3>
									<img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
								</div>
							</div>
							<div class="accordion-content">
								<p class="accordion-description">
									To find out if Minori ships to your location, you can visit their website and check their shipping information or policies. Alternatively, you can contact their customer service directly for assistance.
								</p>
							</div>
						</div>
						<!-- FAQ ITEM 2 -->
						<div class="accordion-wrap">
							<div class="accordion-heading">
								<div class="accordion-number">Q.2</div>
								<div class="accordion-title-wrap">
									<h3 class="accordion-title">How do I qualify for free shipping?</h3>
									<img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
								</div>
							</div>
							<div class="accordion-content">
								<p class="accordion-description">
									Certain items may be eligible for free shipping, regardless of order value. Companies may offer free shipping on select products or product categories as part of ongoing promotions.
								</p>
							</div>
						</div>
						<!-- FAQ ITEM 3 -->
						<div class="accordion-wrap">
							<div class="accordion-heading">
								<div class="accordion-number">Q.3</div>
								<div class="accordion-title-wrap">
									<h3 class="accordion-title">How can I edit my address?</h3>
									<img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
								</div>
							</div>
							<div class="accordion-content">
								<p class="accordion-description">
									Go to the website or platform where you made the purchase and log in to your account using your username and password. Look for an option to access your account settings or profile information.
								</p>
							</div>
						</div>
						<!-- FAQ ITEM 4 -->
						<div class="accordion-wrap">
							<div class="accordion-heading">
								<div class="accordion-number">Q.4</div>
								<div class="accordion-title-wrap">
									<h3 class="accordion-title">Can I modify or cancel my order?</h3>
									<img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
								</div>
							</div>
							<div class="accordion-content">
								<p class="accordion-description">First, check the status of your order. If it&#x27;s still being processed or hasn&#x27;t shipped yet, you may have a better chance of modifying or canceling it.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>