@model List<PcViewModel>

<h2>Список ПК</h2>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pc in Model)
        {
            <tr>
                <td>@pc.Title</td>
                <td>@pc.Description</td>
                <td>@pc.ShowPrice</td>
            </tr>
        }
    </tbody>
</table>
