@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- HERO INNER SECTION -->
<section class="hero-inner text-center">
    <div class="container w-container">
        <div class="hero-inner-wrap">
            <h1 class="hero-inner-title">
                Авторские права
            </h1>
        </div>
        <div class="hero-inner-overly"></div>
    </div>
</section>

<!-- PRIVACY SECTION -->
<div class="privacy-section">
    <div class="container-medium w-container">
        <div class="privacy-wrap">
            <div class="rich-text w-richtext">
                <p>
                    Все материалы, размещенные на сайте PC-UN, включая тексты, изображения, логотипы, дизайн и программный код, являются интеллектуальной собственностью PC-UN и защищены законодательством об авторском праве.
                </p>
                <p>
                    Запрещено копирование, распространение, модификация или использование материалов без предварительного письменного согласия владельцев PC-UN.
                </p>
                <p>
                    В случае выявления нарушения авторских прав мы оставляем за собой право предпринимать соответствующие юридические меры.
                </p>
                <p>
                    Если у вас есть вопросы или жалобы, связанные с авторскими правами, свяжитесь с нами по электронной почте: <em><strong>khanekshakh@gmail.com</strong></em>.
                </p>
            </div>
        </div>
    </div>
</div>