@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
	ViewData["Title"] = "Blog";
*@
@{
	ViewData["Title"] = "Blog";
}
<!-- START OF HERO INNER SECTION -->
<section class="hero-inner text-center">
	<div class="w-layout-blockcontainer container w-container">
		<div class="hero-inner-wrap"><h1 class="hero-inner-title">Blog</h1></div>
		<div class="hero-inner-overly"></div>
	</div>
</section>
<!-- END OF HERO INNER SECTION -->
<!-- START OF BLOG SECTION -->
<section class="blog-section">
	<div class="w-layout-blockcontainer container w-container">
		<div class="w-dyn-list">
			<div role="list" class="grid-blog w-dyn-items">
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/the-latest-innovations-in-craftsmanship" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="images/blog-image-01.jpg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 srcset="images/blog-image-01-p-500.jpg 500w, images/blog-image-01.jpg 750w"
								 class="blog-image" />
							<div class="blog-date">Feb 5, 2024</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">The latest innovations in craftsmanship</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/navigating-common-artisan-challenges" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="images/blog-image-02.jpg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 srcset="images/blog-image-02-p-500.jpg 500w, images/blog-image-02.jpg 750w"
								 class="blog-image" />
							<div class="blog-date">Feb 5, 2024</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">Navigating common artisan challenges</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/shipping-strategies-for-e-commerce-success" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="images/blog-image-03.jpg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 srcset="images/blog-image-03-p-500.jpg 500w, images/blog-image-03.jpg 750w"
								 class="blog-image" />
							<div class="blog-date">Feb 5, 2024</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">Shipping strategies for e-commerce success</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/creating-irresistible-product-descriptions" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="images/blog-image-04.jpg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 srcset="images/blog-image-04-p-500.jpg 500w, images/blog-image-04.jpg 750w"
								 class="blog-image" />
							<div class="blog-date">Feb 5, 2024</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">Creating irresistible product descriptions</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/the-art-of-upselling-and-cross-selling" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="images/blog-image-05.jpg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 srcset="images/blog-image-05-p-500.jpg 500w, images/blog-image-05.jpg 750w"
								 class="blog-image" />
							<div class="blog-date">Feb 5, 2024</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">The art of upselling and cross-selling</h2></div>
					</a>
				</div>
				<div role="listitem" class="w-dyn-item">
					<a href="/blog/unleashing-the-power-of-social-commerce" class="blog-item w-inline-block">
						<div class="blog-image-wrap">
							<img alt="image"
								 loading="lazy"
								 src="images/blog-image-06.jpg"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
								 srcset="images/blog-image-06-p-500.jpg 500w, images/blog-image-06.jpg 750w"
								 class="blog-image" />
							<div class="blog-date">Feb 5, 2024</div>
						</div>
						<div class="blog-info"><h2 class="blog-title">Unleashing the power of social commerce</h2></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END OF BLOG SECTION -->