@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
	ViewData["Title"] = "Blog";
*@

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model List<BlogViewModel>

@{
	ViewData["Title"] = "Blog";
}
<!-- START OF HERO INNER SECTION -->
<section class="hero-inner text-center">
	<div class="w-layout-blockcontainer container w-container">
		<div class="hero-inner-wrap"><h1 class="hero-inner-title">@Localizer["Blog"]</h1></div>
		<div class="hero-inner-overly"></div>
	</div>
</section>
<!-- END OF HERO INNER SECTION -->
<!-- START OF BLOG SECTION -->
<section class="blog-section">
	<div class="w-layout-blockcontainer container w-container">
		<div class="w-dyn-list">
			<div role="list" class="grid-blog w-dyn-items">
				@foreach (var blog in Model)
				{
					<div class="w-dyn-item">
						<a href="/blog/the-latest-innovations-in-craftsmanship" class="blog-item w-inline-block">
							<div class="blog-image-wrap">
								<img alt="image"
									 loading="lazy"
									 src="~/images/rtx5000.png"
									 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 1279px) 46vw, 45vw"
									 class="blog-image" />
								<div class="blog-date">@blog.Date</div>
							</div>
							<div class="blog-info"><h3 class="blog-title">@blog.Title</h3></div>
						</a>
					</div>
				}
			</div>
		</div>
	</div>
</section>
<!-- END OF BLOG SECTION -->