@{
    ViewData["Title"] = "FAQs";
}
<!-- HERO INNER SECTION -->
<section class="hero-inner text-center">
    <div class="container w-container">
        <div class="hero-inner-wrap">
            <h1 class="hero-inner-title">Часто задоваемые вопросы</h1>
        </div>
        <div class="hero-inner-overly"></div>
    </div>
</section>

<!-- FAQS SECTION -->
<section class="faqs-section section-spacing">
    <div class="container-medium w-container">
        <div class="faqs-wrap">
            <!-- PRODUCTS FAQS -->
            <div class="faqs-item">
                <h2 class="heading-h3">Товары:</h2>
                <div class="accordion-item-wrap">
                    <div class="accordion-item">
                        <!-- FAQ ITEM 1 -->
                        <div class="accordion-wrap">
                            <div class="accordion-heading">
                                <div class="accordion-number">Q.1</div>
                                <div class="accordion-title-wrap">
                                    <h3 class="accordion-title">Посылка утеряна. Что делать?</h3>
                                    <img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
                                </div>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-description">
                                    Начните с проверки статуса доставки онлайн или свяжитесь с транспортной компанией, чтобы подтвердить, действительно ли посылка была утеряна. Иногда могут быть задержки или недопонимания, которые приводят к тому, что посылка становится временной.
                                </p>
                            </div>
                        </div>
                        <!-- FAQ ITEM 2 -->
                        <div class="accordion-wrap">
                            <div class="accordion-heading">
                                <div class="accordion-number">Q.2</div>
                                <div class="accordion-title-wrap">
                                    <h3 class="accordion-title">Могу ли я отменить/изменить свой заказ?</h3>
                                    <img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
                                </div>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-description">
                                    Если вы оформили заказ и вам необходимо отменить его или внести в него изменения, вам следует как можно скорее связаться с компанией или магазином, в котором вы совершили покупку.
                                </p>
                            </div>
                        </div>
                        <!-- FAQ ITEM 3 -->
                        <div class="accordion-wrap">
                            <div class="accordion-heading">
                                <div class="accordion-number">Q.3</div>
                                <div class="accordion-title-wrap">
                                    <h3 class="accordion-title">Что делать, если заказ поврежден или в нем отсутствует какой-либо товар?</h3>
                                    <img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
                                </div>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-description">
                                    Если вы получили поврежденный заказ или в нем отсутствует какой-либо товар, вам следует как можно скорее связаться с компанией или магазином, где вы совершили покупку, чтобы сообщить о проблеме.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SHIPPING AND RETURNS FAQS -->
            <div class="faqs-item">
                <h2 class="heading-h3">Доставка и возврат:</h2>
                <div class="accordion-item-wrap">
                    <div class="accordion-item">
                        <!-- FAQ ITEM 1 -->
                        <div class="accordion-wrap">
                            <div class="accordion-heading">
                                <div class="accordion-number">Q.1</div>
                                <div class="accordion-title-wrap">
                                    <h3 class="accordion-title">Куда отправляется товар Minori?</h3>
                                    <img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
                                </div>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-description">
                                    Чтобы узнать, осуществляет ли Minori доставку в ваш регион, вы можете посетить их веб-сайт и проверить информацию о доставке или правила. Кроме того, вы можете напрямую связаться с их службой поддержки клиентов для получения помощи.
                                </p>
                            </div>
                        </div>
                        <!-- FAQ ITEM 2 -->
                        <div class="accordion-wrap">
                            <div class="accordion-heading">
                                <div class="accordion-number">Q.2</div>
                                <div class="accordion-title-wrap">
                                    <h3 class="accordion-title">Как получить право на бесплатную доставку?</h3>
                                    <img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
                                </div>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-description">
                                    Некоторые товары могут иметь право на бесплатную доставку, независимо от стоимости заказа. Компании могут предлагать бесплатную доставку для определенных продуктов или категорий продуктов в рамках текущих акций.
                                </p>
                            </div>
                        </div>
                        <!-- FAQ ITEM 3 -->
                        <div class="accordion-wrap">
                            <div class="accordion-heading">
                                <div class="accordion-number">Q.3</div>
                                <div class="accordion-title-wrap">
                                    <h3 class="accordion-title">Как я могу изменить свой адрес?</h3>
                                    <img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
                                </div>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-description">
                                    Перейдите на сайт или платформу, где вы совершили покупку, и войдите в свою учетную запись, используя свое имя пользователя и пароль. Найдите возможность доступа к настройкам учетной записи или информации профиля.
                                </p>
                            </div>
                        </div>
                        <!-- FAQ ITEM 4 -->
                        <div class="accordion-wrap">
                            <div class="accordion-heading">
                                <div class="accordion-number">Q.4</div>
                                <div class="accordion-title-wrap">
                                    <h3 class="accordion-title">Могу ли я изменить или отменить свой заказ?</h3>
                                    <img src="~/images/chevron-down.svg" loading="lazy" alt="image" class="accordion-icon" />
                                </div>
                            </div>
                            <div class="accordion-content">
                                <p class="accordion-description">Сначала проверьте статус вашего заказа. Если он все еще обрабатывается или еще не отправлен, у вас может быть больше шансов изменить или отменить его.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>